swagger: "2.0"
info:
  description: "Documentação pública dos endpoints para uso em integrações de ecommerce ou ERPs da Azul Cargo São Joaquim da Barra. Para uso desta API é necessário possuir cadastro da sua empresa e credenciais para acesso, caso ainda não possua acesse: https://azulcargosjb.com.br"
  version: "1.0.1"
  title: "Azul Cargo SJB - API"
  contact:
    email: "fhziliotti@hotmail.com"
host: "azulcargosjb.com.br"
basePath: "/api"

schemes:
  - "https"
paths:
  /calculate-shipping:
    post:
      tags:
        - "calculate-shipping"
      summary: "Simular cálculo de frete"
      description: "Neste endpoint é possível você simular o cálculo do frete informando os campos de CEP, Peso, Valor do Pedido e Número do Pedido, veja abaixo mais informações:"
      operationId: "calculateShipping"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "body"
          in: "body"
          required: true
          schema:
            $ref: "#/definitions/CalculateShipping"
        - name: "email"
          in: "header"
          type: string
          description: ""
          required: true
          format: "varchar100"
        - name: "password"
          in: "header"
          type: string
          description: ""
          required: true
          format: "varchar100"
      responses:
        "200":
          description: "Sucesso"
          schema:
            $ref: "#/definitions/ApiCalculateShippingResponse"
        "401":
          description: "Credenciais inválidas"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "405":
          description: "Campo inválido"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Erro interno"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "Erro na requisição"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /delivery-order:
    post:
      tags:
        - "delivery-order"
      summary: "Registrar solicitação de entrega"
      description: "Neste endpoint é possível você registrar a solicitação de entrega do seu pedido informando os campos abaixo:"
      operationId: "deliveryOrder"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "body"
          in: "body"
          required: true
          schema:
            $ref: "#/definitions/DeliveryOrder"
        - name: "email"
          in: "header"
          type: string
          description: ""
          required: true
          format: "varchar100"
        - name: "password"
          in: "header"
          type: string
          description: ""
          required: true
          format: "varchar100"
      responses:
        "200":
          description: "Sucesso"
          schema:
            $ref: "#/definitions/ApiDeliveryOrderResponse"
        "401":
          description: "Credenciais inválidas"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Erro interno"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /tracking-shipping:
    post:
      tags:
        - "tracking-shipping"
      summary: "Rastrear pedido"
      description: "Neste endpoint é possível você buscar informações sobre o rastreio do seu pedido informando os campos de CPF ou CNPJ e Número do Pedido, veja abaixo mais informações:"
      operationId: "trackingShipping"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "body"
          in: "body"
          required: true
          schema:
            $ref: "#/definitions/TrackingShipping"
        - name: "email"
          in: "header"
          type: string
          description: ""
          required: true
          format: "varchar100"
        - name: "password"
          in: "header"
          type: string
          description: ""
          required: true
          format: "varchar100"
      responses:
        "200":
          description: "Sucesso"
          schema:
            $ref: "#/definitions/ApiTrackingShippingResponse"
        "401":
          description: "Credenciais inválidas"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "405":
          description: "Campo inválido"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Erro interno"
          schema:
            $ref: "#/definitions/ErrorResponse"

definitions:
  CalculateShipping:
    type: "object"
    required:
      - "cep"
      - "weight"
      - "totalValue"
    properties:
      cep:
        type: "string"
        example: "99999999"
      weight:
        type: "integer"
        example: "2"
      totalValue:
        type: "number"
        example: "20.00"
        
  DeliveryOrderAddress:
    type: "object"
    required:
      - "postalCode"
      - "street"
      - "number"
      - "neighborhood"
      - "city"
      - "state"
      - "country"
      - "reference"
    properties:
      postalCode:
        type: "string"
        example: "99999999"
      street:
        type: "string"
        example: "Rua Tal"
      number:
        type: "string"
        example: "123"
      neighborhood:
        type: "string"
        example: "Bairro X"
      city:
        type: "string"
        example: "Cidade"
      state:
        type: "string"
        example: "SP"
      country:
        type: "string"
        example: "Brasil"
      reference:
        type: "string"
        example: "Casa fundos"

  DeliveryOrderData:
    type: "object"
    required:
      - "fullName"
      - "phone"
      - "email"
      - "document"
      - "address"
    properties:
      fullName:
        type: "string"
        example: "Nome"
      phone:
        type: "string"
        example: "99999999999"
      email:
        type: "string"
        example: "cliente@dominio.com.br"
      document:
        type: "string"
        example: "12345678912"
      address:
        $ref: "#/definitions/DeliveryOrderAddress"

  DeliveryOrderInvoice:
    type: "object"
    required:
      - "type"
      - "number"
      - "key"
    properties:
      type:
        type: "string"
        example: "NFe"
      number:
        type: "string"
        example: "10011"
      key:
        type: "string"
        example: "123456789"

  DeliveryOrder:
    type: "object"
    required:
      - "orderId"
      - "storeId"
      - "urlCallback"
      - "sender"
      - "recipient"
      - "invoice"
      - "totalValue"
      - "totalFreight"
    properties:
      orderId:
        type: "string"
        example: "99999999999999"
      storeId:
        type: "string"
        example: "123ABC"
      urlCallback:
        type: "string"
        example: "https://dominiodaloja.com.br/webhook"
      sender:
        $ref: "#/definitions/DeliveryOrderData"
      recipient:
        $ref: "#/definitions/DeliveryOrderData"
      invoice:
        $ref: "#/definitions/DeliveryOrderInvoice"
      totalValue:
        type: "string"
        example: "100.00"
      totalFreight:
        type: "string"
        example: "10.00"

  TrackingShipping:
    type: "object"
    required:
      - "document"
      - "orderId"
    properties:
      document:
        type: "string"
        example: "99999999999999"
      orderId:
        type: "string"
        example: "123ABC"
  
  ApiCalculateShippingResponse:
    type: "object"
    properties:
      state:
        type: "string"
      totalFreight:
        type: "number"
      deliveryDays:
        type: "integer"
      shippingOrderId:
        type: "string"
  
  ApiTrackingShippingResponse:
    type: "object"
    properties:
      awb_consulta:
        type: "string"
      nome_remetente:
        type: "string"
      nome_destinatario:
        type: "string"
      data:
        type: "string"
      nota:
        type: "string"
      valor:
        type: "string"
      ocorrencia:
        type: "string"
      data_consulta:
        type: "string"
  
  ApiDeliveryOrderResponse:
    type: "object"
    properties:
      status:
        type: "string"
      message:
        type: "string"
      createdDate:
        type: "string"

  ErrorResponse:
    type: "object"
    properties:
      status:
        type: "string"
        example: "error"
      message:
        type: "string"
