swagger: "2.0"
info:
  description: "Documentação pública dos endpoints para uso em integrações de ecommerce ou ERPs da Azul Cargo São Joaquim da Barra. Para uso desta API é necessário possuir cadastro da sua empresa e credenciais para acesso, caso ainda não possua acesse: https://azulcargosjb.com.br"
  version: "1.0.0"
  title: "Azul Cargo SJB - API"
  contact:
    email: "fhziliotti@hotmail.com"
host: "azulcargosjb.com.br"
basePath: "/api"

schemes:
- "https"
paths:
  /calculate-shipping:
    post:
      tags:
      - "calculate-shipping"
      summary: "Simular cálculo de frete"
      description: "Neste endpoint é possível você simular o cálculo do frete informando os campos de CEP, Peso, Valor do Pedido e Número do Pedido, veja abaixo mais informações:"
      operationId: "calculateShipping"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/Calculate"
      - name: "email"
        in: "header"
        type: string
        description: ""
        required: true
        format: "varchar100"
      - name: "senha"
        in: "header"
        type: string
        description: ""
        required: true
        format: "varchar100"
      responses:
        "200":
          description: "Sucesso"
          schema:
            $ref: "#/definitions/ApiCalculateResponse"
        "401":
          description: "Credenciais inválidas"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "405":
          description: "Campo inválido"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Erro interno"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "503":
          description: "Erro na requisição"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /tracking-shipping:
    post:
      tags:
      - "tracking-shipping"
      summary: "Rastrear pedido"
      description: "Neste endpoint é possível você buscar informações sobre o rastreio do seu pedido informando os campos de CPF ou CNPJ e Número do Pedido, veja abaixo mais informações:"
      operationId: "trackingShipping"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/Tracking"
      - name: "email"
        in: "header"
        type: string
        description: ""
        required: true
        format: "varchar100"
      - name: "senha"
        in: "header"
        type: string
        description: ""
        required: true
        format: "varchar100"
      responses:
        "200":
          description: "Sucesso"
          schema:
            $ref: "#/definitions/ApiTrackingResponse"
        "401":
          description: "Credenciais inválidas"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "405":
          description: "Campo inválido"
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Erro interno"
          schema:
            $ref: "#/definitions/ErrorResponse"
definitions:
  Calculate:
    type: "object"
    required:
    - "cep"
    - "peso"
    - "valor_pedido"
    - "numero_pedido"
    properties:
      cep:
        type: "string"
        example: "99999999"
      peso:
        type: "integer"
        example: "2"
      valor_pedido:
        type: "number"
        example: "20.00"
      numero_pedido:
        type: "string"
        example: "123ABC"
  Tracking:
    type: "object"
    required:
    - "cpf_cnpj"
    - "numero_pedido"
    properties:
      cpf_cnpj:
        type: "string"
        example: "99999999999999"
      numero_pedido:
        type: "string"
        example: "123ABC"
  ApiCalculateResponse:
    type: "object"
    properties:
      uf:
        type: "string"
      valor_frete:
        type: "number"
      prazo_entrega:
        type: "integer"
      numero_cotacao:
        type: "string"
  ApiTrackingResponse:
    type: "object"
    properties:
      awb_consulta:
        type: "string"
      nome_remetente:
        type: "string"
      nome_destinatario:
        type: "string"
      data:
        type: "string"
      nota:
        type: "string"
      valor:
        type: "string"
      ocorrencia:
        type: "string"
      data_consulta:
        type: "string"
  ErrorResponse:
    type: "object"
    properties:
      status:
        type: "string"
        example: "error"
      message:
        type: "string"